:root{
    background: #07689f;
    
}
header{
    font-weight: 700;
    font-size: 39px;
    color: #ff7e67;
   
}
form{
    margin-top: 30px;
    text-align: center;

}
h2{
    color:#a2d5f2;
}
input{
  padding: 10px 0px;
  border-radius: 8px;
    width: 20cm;
    font-size: 29px;
  
}
footer{
    margin-top: 25px;
    color: #a2d5f2;
  
}
.app{
    background: #113f67;
}
.partOfSpeech{
    font-size: 30px;
    color:#a2d5f2;
}
.defenition{
    color: #fafafa;
    margin-left: 28px;
}
.result{
    width: 20cm;
   margin-left: 10cm;
}
.synonym{
   
    margin-left: 1cm;
}
    

@media(max-width:1000px){
    .result{
        margin-left: 38px;
    }
    input{
        margin-left: 1cm;
        width: 15cm;
    }
}


