:root{
   
    --background-color:#4B352A;
    background: #4B352A;
    --font-color1: #4B352A;
    --background-secrion: #B2CD9C;
    --font-color2 : #CA7842;
    
}
header{
    margin-top: 18px;
    font-weight: 700;
    font-size: 45px;
    color: #F0F2BD;
    font-family: "Tagesschrift", system-ui;
    font-weight: 600;
  
   
}
form{
    margin-top: 30px;
    margin-bottom: 13px;

}
h2{
    color:#F0F2BD;
    border: 2px solid #F0F2BD;
    padding: 3px 14px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

    
}
.phonetic{
    display: flex;
}
input{
 background: var(--background-secrion);
  padding: 8px 10px;
  border-radius: 28px;
  width: 22cm;
    font-size: 29px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  
}
footer{
    margin-top: 25px;
    color: var(--background-secrion);
    text-align: center;
  
}

.app{
   background: var(--background-color);
   
}
.partOfSpeech{
    font-size: 30px;
    color: var(--font-color1);
}
.defenition{
    color: var(--font-color2);
    margin-left: 28px;
   
}  
.dictionary{
    max-width: 60cm;
    padding: 10px 9cm;

}.meaning{
    background:var(--background-secrion);
    border-radius: 15px;
    padding: 8px;
    margin-bottom: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
li{
    list-style: none;
}
.photos{
    padding: 10px;
    background: var(--background-secrion);
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(3,270px);
    gap: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

}

@media(max-width:1000px){
   
    input{
        margin-left: 1cm;
        width: 15cm;
    }
    .dictionary{
        padding: 10px 3cm;
    }
}


