:root{
    background: linear-gradient(89deg, rgb(21, 74, 189) 0.1%, rgb(26, 138, 211) 51.5%, rgb(72, 177, 234) 100.2%);
    
}
header{
    margin-top: 18px;
    font-weight: 700;
    font-size: 45px;
    color: #ff7e67;
    font-family: "Tagesschrift", system-ui;
    font-weight: 600;
  
   
}
form{
    margin-top: 30px;
    margin-bottom: 13px;

}
h2{
    color:#a2d5f2;
    border: 1px solid #a2d5f2;
    padding: 3px 14px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

    
}
.phonetic{
    display: flex;
}
input{
 
  padding: 8px 18px;
  border-radius: 28px;
  width: 18cm;
    font-size: 29px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  
}
footer{
    margin-top: 25px;
    color: #a2d5f2;
    text-align: center;
  
}

.app{
    background: linear-gradient(89deg, rgb(21, 74, 189) 0.1%, rgb(26, 138, 211) 51.5%, rgb(72, 177, 234) 100.2%);  
}
.partOfSpeech{
    font-size: 30px;
    color:#a2d5f2;
}
.defenition{
    color: #fafafa;
    margin-left: 28px;
   
}

   
.dictionary{
    max-width: 50cm;
    padding: 10px 11cm;

}.meaning{
    background: #ff7e67;
    border-radius: 15px;
    padding: 8px;
    margin-bottom: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
li{
    list-style: none;
}

@media(max-width:1000px){
   
    input{
        margin-left: 1cm;
        width: 15cm;
    }
    .dictionary{
        padding: 10px 3cm;
    }
}


